# macOS and Linux
.DS_Store
Thumbs.db
._*

# Shell history or temp
*.bak
*.swp
*.tmp
#*.txt

# internal files / folders
archive/
analysis/
data/
db/
envs/
results/
logs/
config/config.sh.lock
setup/activation_steps.txt
